examples/sample.json
[{"id":"f883793113944f0f","type":"tab","label":"test","disabled":false,"info":"","env":[]},{"id":"46bab73c46eb177b","type":"inject","z":"f883793113944f0f","name":"enable TEST","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TEST","payloadType":"str","x":150,"y":60,"wires":[["68ad8f827e70a6e4"]]},{"id":"68ad8f827e70a6e4","type":"change","z":"f883793113944f0f","name":"Set Global.runtime_profile","rules":[{"t":"set","p":"runtime_profile","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":80,"wires":[[]]},{"id":"c72232fcab29fc10","type":"inject","z":"f883793113944f0f","name":"enable PROD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PROD","payloadType":"str","x":150,"y":120,"wires":[["68ad8f827e70a6e4"]]},{"id":"b8d121f3c8e6faa0","type":"link in","z":"f883793113944f0f","name":"in_pepe","links":[],"x":135,"y":440,"wires":[["6bc4a9e520256d8f","2088cbae17c5a5f7"]]},{"id":"2088cbae17c5a5f7","type":"link out","z":"f883793113944f0f","name":"out_pepe1","mode":"return","links":[],"x":525,"y":440,"wires":[]},{"id":"6bc4a9e520256d8f","type":"debug","z":"f883793113944f0f","name":"PROD debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":400,"wires":[]},{"id":"90804d6472718125","type":"link in","z":"f883793113944f0f","name":"in_pepe.mock","links":[],"x":135,"y":540,"wires":[["a2e10eff90ec70a8","6b8ec125a8edbdd4"]]},{"id":"6b8ec125a8edbdd4","type":"link out","z":"f883793113944f0f","name":"out_pepe2","mode":"return","links":[],"x":525,"y":540,"wires":[]},{"id":"a2e10eff90ec70a8","type":"debug","z":"f883793113944f0f","name":"TEST debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":500,"wires":[]},{"id":"9374cceb715b4523","type":"inject","z":"f883793113944f0f","name":"TEST","props":[{"p":"payload"},{"p":"target","v":"in_pepe2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["bac24e39e29fb267"]]},{"id":"4355ee5bdd76f77e","type":"debug","z":"f883793113944f0f","name":"pepe result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":300,"wires":[]},{"id":"8f6153dcf572b49f","type":"inject","z":"f883793113944f0f","name":"reset profile","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["b3c9353d23f341f1"]]},{"id":"b3c9353d23f341f1","type":"change","z":"f883793113944f0f","name":"clear Global.runtime_profile","rules":[{"t":"delete","p":"runtime_profile","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":180,"wires":[[]]},{"id":"bac24e39e29fb267","type":"call or mock","z":"f883793113944f0f","name":"","target":"in_pepe","x":290,"y":300,"wires":[["4355ee5bdd76f77e"]]}]